MMB_DB=/opt/meshmini/board.db
MMB_DEVICE=auto
MMB_NAME=MeshLink BBS
MMB_ADMINS=!deadbeef
MMB_PEERS=
MMB_RATE=2
MMB_MAX_TEXT=140
MMB_HEALTH_PUBLIC=0
MMB_DEBUG=0
MMB_SYNC=1
MMB_SYNC_PERIOD=300
MMB_SYNC_INV=15
MMB_SYNC_CHUNK=160
MMB_RX_STALE_SEC=240
MMB_WATCH_TICK=10
MMB_TZ=Pacific/Auckland
# Notice expiry (optional, pick one)
# MMB_INFO_TTL_MIN=180
# MMB_INFO_UNTIL=2025-12-31 23:59
MMB_UNKNOWN_REPLY=1
